body{
    background-color: #FAFBFA;
}

.head{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    height:45px;
    width: 100%;
    margin-top: 30px;
    margin-bottom:50px;
}

#APIname{
    font-size: 20px;
    color: black;
}

[data-wrapper]{
    padding-top: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    padding-left: 30px;
}

.card{
    display: flex;
    flex-direction: column;
    width: 18rem;
    border-radius: 2%;
    border: solid;
    border-color: blue;
}

.card-body{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    font-family: 'Raleway', sans-serif;
    border-radius: 0% 0% 3% 3%;
}

.card-title{
    align-self: center; 
    font-size: 16px;
    margin: 0;
    margin: 10px;
}

.card-img-top{
    align-self: center;
    width: 100%;;
    height: 100%;
    border-radius: 2% 2% 0% 0%;
    object-fit: fill;
}

.card-text{
    background-color: gainsboro;
    padding: 5px;
}


.btn-open{
    background-color: rgb(43, 43, 255);
    font-size: 15px;
    margin-bottom: 10px;
    border-radius: 7px;
}

.btn-edit{
    background-color: yellow;
    font-size: 15px;
    margin-bottom: 10px;
    border-radius: 7px;
}

.btn-delete{
    background-color: red;
    font-size: 15px;
    margin-bottom: 10px;
    border-radius: 7px;
    cursor: pointer;
}

.btn-add{
    padding: 5px;
    font-size: 15px;
    border-radius: 7px;
    background-color: rgb(12, 172, 12);
    cursor: pointer;
}

.btn-submit{
    cursor: pointer;
}

.modal-wrapper{
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgb(0, 0, 0,0.4);
    z-index: 1;
    backdrop-filter: blur(2px);
    
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Стили для модалки */
.custom-modal{
    background-color: white;
    padding: 16px;
    border-radius: 10px;
    display: flex;
}

.mb-3{
    padding: 5px;
}

[data-close_button]{
    background-color: red;
    justify-self: center;
    cursor: pointer;
}

.form-lable{
    margin: 110px;
}

.hidden{
    display: none;
}

.error-msg{
    color: red;
}

.buttonsContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}