body{
    background-color: #FAFBFA;
    
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #AAA0C4;
    height:45px;
    width: 100%;
    margin-bottom:10px;
    color: #FAFBFA;
}

#APIname{
    font-size: 40px;
}

[data-wrapper]{
    background-color: #382E6E;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.card{
    display: flex;
    flex-direction: column;
    width: 18rem;
    background-color: #A161B0;
    border-radius: 2%;
    border: solid;
}

.card-body{
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    font-family: 'Raleway', sans-serif;
}

.card-title{
    align-self: center; 
    font-size: 16px;
    background-color: aqua;
    margin: 0;
    margin: 10px;
}

.card-img-top{
    align-self: center;
    width: 200px;;
    height: 200px;
    border-radius: 2%;
    object-fit: fill;
}

.card-text{
    background-color: aliceblue;
    padding: 5px;
}


.btn-open{
    background-color: rgb(43, 43, 255);
    font-size: 15px;
    margin-bottom: 10px;
}

.btn-edit{
    background-color: yellow;
}

.btn-delete{
    background-color: red;
}

.btn-add{

}

.modal-wrapper{
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgb(0, 0, 0,0.4);
    z-index: 1;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Стили для модалки */
.custom-modal{
    background-color: white;
    /* display: flex;
    justify-content:center; */
    padding: 16px;
    border-radius: 10px;
}

.form-lable{
    margin: 110px;
}

.hidden{
    display: none;
}